@font-face {
	font-family: bit wonder;
	src:url(8-BIT_WONDER.TTF);
}
body {
	margin: 0 auto auto auto;
	font-family: bit wonder;
}
canvas {
	border: solid black;
	height: 100vh;
	width: 100%;
}
#container {
	border: solid magenta;
}
#title {

	justify-content: center;
	/* border: solid red; */
	text-align: center;
	/* display:block; */
}
#newgame {
	position: absolute;
	top:-5px;
	right:10px;
	display: inline-block;
	font-size: .5em;
	/* border: solid black; */
	/*border-radius: 50%;*/
}
#subtitle {
	text-align: center;
}
#scroll { 
	height: 150vh;
	border: solid;
}
button{
	font-family: bit wonder;
	border: solid 1px rgb(87, 87, 87);
	text-decoration:none;
	cursor:pointer;
	font-size:.2em;
	padding:18px 10px;
	/* width:180px; */
	margin: 8px;
	outline: none;
}
	
button:hover{
		background: rgb(97, 97, 97);
		border: solid 1px white;
	  }
#guessHere{
	width: 200px;
	height: 400px;
	border:solid black;

}
