@font-face {
	font-family: bit wonder;
	src:url(8-BIT_WONDER.TTF);
}
body {
	margin: 0 auto auto auto;
	font-family: bit wonder;
}
#container {
	border: solid magenta;
}
#title {

	justify-content: center;
	/* border: solid red; */
	text-align: center;
	/* display:block; */
}
#newgame {
	position: absolute;
	right:10px;
	display: inline-block;
	font-size: .5em;
	/* border: solid black; */
	/*border-radius: 50%;*/
}
#subtitle {
	text-align: center;
}
#scroll { 
	height: 150vh;
	border: solid;
}
